<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch">
        <arg name="port" value="9090" />
        <arg name="websocket_external_port" value="$(env SLOT_ROSBRIDGE_PORT)" />
    </include>

    <node name="web_video_server" pkg="web_video_server" type="web_video_server">
        <param name="port" value="11315" />
    </node>


    <include file="$(find course_web_dev_ros)/launch/tf2_web.launch">
    </include>
    
    <!--
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    </node>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    </node>
    <node name="tf2_web_republisher" pkg="tf2_web_republisher" type="tf2_web_republisher">
    </node>
    -->
</launch>
